

#infos {
    text-align: center;
    padding : 30px 30px 60px 30px;
    background-color: #F6F6F6;

    h1 {
        font-family: $font-text;
        font-weight: bold;
    }

    p {
        color: gray;
        padding-bottom: 20px;
    }

}